*,*:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#load_container {
   background-color: rgba(250, 240, 245, 0.9);
   height: 100%;
   width: 100%;
   position: fixed;
   -webkit-transition: all 1% ease;
   -o-transition: all 1% ease;
   transition: all 1% ease;
   z-index: 10000;
}

#load {
    border: 15px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: lap 1.5s linear infinite;
    -o-animation: lap 1.5s linear infinite;
    animation: lap 1.5s linear infinite;
}

@keyframes lap {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.text {
    text-align: center;
    padding: 320px;
}











